.custom-button__wrapper {
  width: 160px;
  height: auto;
  position: absolute;
  left: 300px;
  .custom-button {
    width: 160px;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px;
    background-color: var(--color-blue);
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: 1s ease-in-out;
    &.disabled {
      cursor: not-allowed;
      background-color: var(--color-lightgray);
      pointer-events: none;
    }

    .border {
      position: absolute;
      left: 0;
      top: 0;
      fill: transparent;
      stroke: rgb(255, 255, 255);
      stroke: #f5f6f6;
      stroke-dasharray: 150 480;
      stroke-dashoffset: 150;
      transition: all 1s ease-in-out,
        border-color 1.5s linear 1s;
    }

    span {
      color: white;
      font-size: 16px;
      font-weight: 400;
    }

    &:hover {
      background-color: white;
      color: black;
      border: 1px solid var(--color-subheading);
      background-color: transparent;
      border: 1px solid#061b46;
      span {
        color: #212121;
      }
      .border {
        stroke-dashoffset: -480;
      }
    }
  }
}
