{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 90,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "requirePragma": false,
  "parser": "babel",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true
}
