{
  "semi": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 70,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "requirePragma": true
}
