@import '../../styles/base/mixins';

.sign-in {
  &__heading {
    margin-bottom: var(--spacing-16);
    @media (max-width: 576px) {
      text-align: center;

    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: var(--spacing-8);
    .sign-in-buttons {
      &__wrapper {
        margin: var(--spacing-18) 0 0;
        display: flex;
        width: 100%;
        align-items: end;
        flex-wrap: wrap;
        @media (max-width: 576px) {
          justify-content: center;
        }

        .signin-with-google {
          height: 50px;
          line-height: 50px;
          font-size: var(--fontSize-1);
          background: white;
          border: 1px solid var(--color-subheading);
          font-weight: 400;
          width: 100%;
          max-width: 200px;
          color: var(--color-heading);
          letter-spacing: 0.15px;
          @media (max-width: 1501px) {
            margin: var(--spacing-10) 0 0;
          }
          @media (max-width: 576px) {
            max-width: initial;
          }
        }
      }

    }

  }
  .form-link {
    font-size: var(--fontSize-0);
    color: var(--color-gray);
    a {
      color: var(--color-blue);
      text-decoration: underline;
    }
    @media (max-width: 576px) {
      text-align: center;
    }
  }


}






.sign-in.signup {

  form {
    margin-bottom: var(--spacing-8);
    .form-link {
      margin-top: var(--spacing-36);
      font-size: var(--fontSize-02);
      color: var(--color-gray);
      @media screen and (min-width: 890px) {
        margin-top: var(--spacing-36);
        padding-top: var(--spacing-8);
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

#signup-error {
  background: #ff6126;
  color: white;
  font-size: var(--fontSize-01);
  padding: 3px 5px;
  width: 100%;
}
