@import '../../styles/base/mixins';


.signin-up-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-6) 0;
  align-content: center;
  height: auto;
  padding: 0;
}


.sign-in {
  &__heading {
    margin-bottom: var(--spacing-8);
    @media (max-width: 576px) {
      text-align: center;

    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: var(--spacing-8);


    .sign-in-buttons {
      &__wrapper {
        margin: var(--spacing-18) 0 var(--spacing-8);
        display: flex;
        width: 100%;
        align-items: end;
        flex-wrap: wrap;
        @media (max-width: 576px) {
          justify-content: center;
        }

        .signin-with-google {
          height: 50px;
          line-height: 50px;
          font-size: var(--fontSize-1);
          background: white;
          border: 1px solid var(--color-subheading);
          font-weight: 400;
          width: 100%;
          max-width: 200px;
          color: var(--color-heading);
          letter-spacing: 0.15px;
          transition: all .4s linear 150ms;


          &:hover {
            background-color: var(--color-red);
            color: var(--color-white);
          }


          @media (max-width: 1501px) {
            margin: var(--spacing-10) 0 0;
          }
          @media (max-width: 576px) {
            max-width: initial;
          }
        }
      }

    }

  }

  .form-link {
    font-size: var(--fontSize-0);
    color: var(--color-gray);

    a {
      color: var(--color-blue);
      text-decoration: underline;
      display: inline;
    }

    @media (max-width: 576px) {
      text-align: center;
    }
  }


}


.sign-in.signup {

  form {

    .form-link {
      margin-top: var(--spacing-36);
      font-size: var(--fontSize-02);
      color: var(--color-gray);
      @media screen and (min-width: 890px) {
        margin-top: var(--spacing-36);
        padding-top: var(--spacing-8);
      }

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

#signup-error {
  background: #ff6126;
  color: white;
  font-size: var(--fontSize-01);
  padding: 3px 5px;
  width: 100%;
}


img.signup {
  transform: scale(0.75) translateY(-15%) perspective(400px);
  @media screen and (max-width: 575px) {
    transform: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;

  }
}