@import '../../styles/base/mixins';

.sign-in {
  @include flex-wrapper();
  margin: 0 auto;

  @media screen and (min-width: 890px) {
    width: 38vw;
  }

  &__heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--spacing-16);
    @media screen and (min-width: 890px) {
      align-items: flex-start;
    }
    h1 {
      margin-bottom: var(--spacing-12);
      text-align: center;
      @media screen and (min-width: 890px) {
        margin-bottom: var(--spacing-10);
      }
    }
    h3 {
      color: var(--color-red);
      width: 100%;
      text-align: center;
      @media screen and (min-width: 890px) {
        text-align: left;
      }
    }

    span {
      flex: 1 1;
      width: 100%;
      text-align: center;
      color: var(--color-gray);
      @media screen and (min-width: 890px) {
        text-align: left;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 470px;
    margin-bottom: var(--spacing-20);
    .custom-button__wrapper {
      left: 0;
      bottom: -50px;
      justify-content: center;
      display: flex;
      width: 100%;
      @media screen and (min-width: 890px) {
        width: 160px;
        height: 50px;
        bottom: 60px;
      }
    }
  }
}

.signin-with-google {
  height: 50px;
  font-size: 1rem;
  background: white;
  border: 1px solid var(--color-subheading);
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 210px;
  color: var(--color-heading);
  letter-spacing: 0.15px;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 5px;
}

@media screen and (min-width: 890px) {
  .signin-with-google {
    width: 210px;
    height: 50px;
    font-size: 1rem;
    background: white;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 185px;
    top: 35px;
    margin: 0;
    letter-spacing: 0.15px;
    transition: all 0.4s ease-in 25ms;

    &:hover {
      background-color: var(--color-red);
      color: var(--color-white);
      border-color: 1px solid var(--color-darkred);
      box-shadow: none;
    }
  }
}
