.product-preview {
  flex: 0 1;
  width: 100%;
  display: flex;
  position: relative;
  cursor: zoom-in;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;
 

  .image-preview {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex: 1 1;
    
    img {
      display: flex;
      max-width:350px;
      height: auto;
      // margin: 0 auto;
      transition: transform 2s
        cubic-bezier(0.25, 0.45, 0.45, 0.95) 50ms;
      &:hover {
        transform: scale(1.1);
        .product-footer {
          opacity: 0.7;
        }
      }

      

    }

   

  }
}

.product-footer {
  left: 25%;
  width: 50%;
  cursor: default;
  position: inherit;

  &__name {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #424242;
    text-decoration: underline;
    margin-bottom: 12px;
  }
  &__price {
    display: flex;
    justify-content: center;

    padding-bottom: 10px;
    color: orangered;
    font-weight: 500;
    font-size: 18px;
    &::before {
      content: '£';
    }
  }
}
