.product-card {
  flex: 0 1;
  width: 100%;
  display: flex;
  position: relative;
  cursor: zoom-in;
  margin-bottom: 2rem;
  flex-direction: column;
  justify-content: flex-start;
  height: max-content;

  .image-card {
    display: flex;
    width: 100%;
    overflow: hidden;
    flex: 1 1;

    img {
      display: flex;
      max-width: 382px;
      height: auto;

      transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95) 50ms;

      &:hover {
        transform: scale(1.1);

        .product-footer {
          opacity: 0.7;
        }
      }
    }
  }
}

.product-footer {
  width: 100%;
  cursor: default;
  display: flex;
  padding: 10px;
  height: 54px;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;


  &__top {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    line-height: 2.2;
    justify-content: space-between;
    align-items: center;
    align-content: baseline;

    .product-name {
      display: flex;
      justify-content: center;
      color: #333;
      text-decoration: none;
    }

    .product-price {
      display: flex;
      justify-content: center;
      color: orangered;
      font-weight: 500;
      font-size: 18px;

      &::before {
        content: '£';
      }
    }
  }

  &__bottom {
    display: flex;
    width: 100%;
    height: auto;

  }
}