.products-showroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  &__title {
    text-align: center;
    margin-bottom: var(--spacing-18);
    @media screen and (min-width: 890px) {
      width: 100%;
      display: flex;
      margin-bottom: var(--spacing-16);
      justify-content: flex-start;
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    @media screen and (min-width: 745px) {
      justify-content: space-between;
    }
  }
}
