.productWrap {
  margin: 3rem 0;
}

img.productImage {
  max-width: 433px !important;
}

.productInputs {
  display: flex;
  flex-direction: column;
}
.productCount {
  margin: 3rem 0;
}

label {
  margin: 1rem 0 0.5rem;
}

select {
  margin: 0;
}

.addcartBtn {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
}
