@import '../../styles/base/mixins';

.signin-up-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: var(--spacing-10) 0;
  align-content: center;
  height: auto;
  padding: 0;


}



.sign-in {
  @media screen and (max-width: 576px) {
    width:100%;
    &.sign-up {
      width: 100%;
      display: none;
    }
  }
  /*
  Signup disabled for now
  */
  &.signup {
    display: none;
  }
}