.products-showroom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  &__product-title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    //overflow: hidden;
    
    justify-content: space-between;
    @media screen and (max-width: 710px) {
      justify-content: center;
      width: 100%;
      margin: 0 auto;
    }
  }
}
