.product-category {
  &__item {
    min-width: 32.45%;
    height: 270px;
    flex: 0 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: perspective(100px);
    transition: all 0.3s ease-in 75ms;
    border: 1px solid var(--color-black);
    margin: 0;

    &.large {
      height: 380px;
      margin-top: 20px;
      flex: 1 1;
      max-width: 49.3%;
    }

    &:hover {
      //leave for gsap
      .category-item {
        cursor: pointer;
        opacity: 0.93;
        span {
          font-weight: var(--fontWeight-medium);
          transform: scaleX(1.1);
        }
      }
    }

    @media screen and (max-width: 1024px) {
      flex: 1 1;
      min-width: 100%;
      margin-bottom: 2rem;
      &.large {
        margin-top: 0;
      }
    }
  }
}

.category-item {
  height: 90px;
  padding: 0 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-black);
  cursor: pointer;
  transition: all 0.4s ease-in 200ms;
  background-color: var(--color-whitebg);
  opacity: 0.75;

  &__title {
    margin-bottom: var(--spacing-01);

    @media screen and(min-width: 1281px) {
      margin-bottom: var(--spacing-1);
    }
  }
  &__subtitle {
    transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1)
      100ms;

    font-size: var(--fontSize-01);
    color: var(--color-blue);
    font-weight: var(--fontWeight-medium);
  }
}
