/* color */

:root {
  --color-heading: #212121;
  --color-subheading: #616161;
  --color-red: #ff460c;
  --color-black: #000;
  --color-white: #fff;
  --color-lightgray: #bdbdbd;
  --color-gray: #757575;
  --color-primary: #414141;
}
