/* color */

:root {
  --color-heading: #212121;
  --color-subheading: #616161;
  --color-red: #d13605;
  --color-darkred: #9e1414;
  --color-blue: #0d47a1;
  --color-black: #000;
  --color-white: #fff;
  --color-lightgray: #bdbdbd;
  --color-gray: #757575;
  --color-primary: #414141;
}
