:root {
  /* fonts */
  --fontFamily-sans: 'Be Vietnam', sans-serif;

  /* font-weight */
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;

  /* font-size */
  --fontSize-root: 16px;

  --fontSize-03: 0.81rem;
  --fontSize-02: 0.87rem;
  --fontSize-01: 0.92rem;
  --fontSize-0: 0.96rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.1rem;
  --fontSize-25: 1.25rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.64rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;

  /* line-height */
  --lineHeight-none: 1;
  --lineHeight-tight: 1.35;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;

  /* Spacing */
  --spacing-px: '1px';
  --spacing-0: 0;
  --spacing-less-one: 0.1rem;
  --spacing-1: 0.2rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-35: 0.94rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-18: 4.5rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
}
