name: Cypress tests
on:
  push:
    branches:
      -  "main"

jobs:
  checkout-and-test:
    runs-on: ubuntu-latest
    steps:
      -  run: echo "Job automatically triggered by ${{ github.event_name }} event."

      -  name: Checkout repository code
         uses: actions/checkout@v2

      -  name: setup node
         uses: actions/setup-node@v2
         with:
           node-version: "16.x"

      -  name: run Cypress tests
         uses: cypress-io/github-action@v2
         with:
           browser: chrome
           headless: true