name: Cypress tests
on:
  push:
    branches:
      -  "main"

jobs:
  checkout-and-test:
    runs-on: ubuntu-latest
    steps:
      -  run: echo "Job automatically triggered by ${{ github.event_name }} event."
      
      -  name: Checkout repository code
         uses: actions/checkout@v2

      -  name: run cypress tests
         uses: cypress-io/github-action@v2
         timeout-minutes: 10
         with:
           browser: chrome  


