name: End-to-end tests
on: [push]
jobs:

  cypress-run: # Job name
    runs-on: ubuntu-latest
    steps:
      - name: Checkout # Step name
        uses: actions/checkout@v2 # checks out the repository
      - name: Install node # Step name
        uses: actions/setup-node@v2 # installs node
        with:
          node-version: '16.x' # version of node to install
      - name: Install dependencies # Step name
        run: npm install --legacy-peer-deps # installs dependencies
      - name: Cypress run # Step name
        uses: cypress-io/github-action@v4  # runs tests - v2 uses cypress.json
        with:
          start:  "npm run cypress:run"
          wait-on:  "http://localhost:3000"
          config: baseUrl=http://localhost:3000
          
