*,
:after,
:before {
  box-sizing: border-box;
  font-family: var(--fontFamily-sans);
}

.main-wrapper {
  margin: 0 var(--spacing-4);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

@media screen and (min-width: 800px) {
  .col {
    flex: 1;
  }

  .double-col {
    flex: 2;
  }
}
