@import '../theme/colors';
@import '../theme/fonts';

:root {
  html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  body {
    line-height: var(--lineHeight-normal);
    font-size: var(--fontSize-root);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--fontFamily-sans);
    color: var(--color-text);
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
    @media screen and (min-width: 1281px) {
      max-width: 90%;
    }
  }

  /* Heading */

  

  h1 {
    font-weight: var(--fontWeight-medium);
    font-size: var(--fontSize-5);
    color: var(--color-heading);
    line-height: var(--lineHeight-tight);
    letter-spacing: var(--spacing-less-one);
    text-align: center;
    @media screen and (min-width: 1281px) {
      font-size: var(--fontSize-6);
      line-height: var(--lineHeight-normal);
      
    }
  }

  h2 {
    font-size: var(--fontSize-4);
    color: var(--color-subheading);
   
    
  }

  h3 {
    font-size: var(--fontSize-3);
    font-weight: var(--fontWeight-normal);
  }

  p {
    line-height: var(--lineHeight-relaxed);
    font-size: var(--fontSize-2);
    margin: var(--spacing-0) var(--spacing-0)
      var(--spacing-8) var(--spacing-0);
    padding: var(--spacing-0);
  }
}
