@import '../theme/colors';
@import '../theme/fonts';

:root {
  html {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: var(--lineHeight-normal);
  }

  body {
    font-family: var(--fontFamily-sans);
    font-size: var(--fontSize-root);
    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    @media screen and (min-width: 890px) {
      max-width: 90%;
    }
  }

  /* Heading */

  h1 {
    font-weight: var(--fontWeight-medium);
    font-size: var(--fontSize-5);
    color: var(--color-heading);
    letter-spacing: var(--spacing-less-one);
    @media screen and (min-width: 890px) {
      font-size: var(--fontSize-6);
    }
  }

  h2 {
    font-size: var(--fontSize-4);
    color: var(--color-subheading);
  }

  h3 {
    font-size: var(--fontSize-3);
    color: var(--color-red);
    font-weight: var(--fontWeight-normal);
    line-height: var(--lineHeight-normal);
  }

  p {
    line-height: var(--lineHeight-relaxed);
    font-size: var(--fontSize-1);
    @media screen and (min-width: 890px) {
      line-height: var(--lineHeight-normal);
      font-size: var(--fontSize-2);
    }
  }
}
